<nav class="top-nav">
    <div class="nav-wrapper">
        <a href="/chat" class="brand-logo center"><img class="responsive-img" src="{{ asset('img/cat.gif') }}"></a>
        <ul class="left hide-on-med-and-down">
            <li><a href="/chat"><i class="material-icons">loop</i></a></li>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="/"><i class="material-icons">power_settings_new</i></a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
</div>

<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">
            <a href="#"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
            <a href="#"><span class="red-text name">{{ name }}</span></a>
        </div>
    </li>

    <li><div class="divider"></div></li>

    <li><a href="#"><i class="material-icons">account_circle</i>My Account</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <div class="collapsible-header">Dropdown<i class="mdi-navigation-arrow-drop-down"></i></div>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#!">First Dropdown Link</a></li>
                        <li><a href="#!">Second Dropdown Link</a></li>
                        <li><a href="#!">Third Dropdown Link</a></li>
                        <li><a href="#!">Fourth Dropdown Link</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

{% block javascripts %}{% endblock %}
